<!DOCTYPE html>
<html data-ng-app="techTestApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TechTest</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/NgApp/lib/angular.min.js"></script>
    <script src="~/NgApp/lib/angular-route.min.js"></script>
    <script src="~/NgApp/lib/angular-resource.min.js"></script>
    <script src="~/NgApp/app.js"></script>
    <script src="~/NgApp/route.js"></script>
    <script src="~/NgApp/controllers.js"></script>
    <script src="~/NgApp/directives.js"></script>
    <script src="~/NgApp/factories.js"></script>
    <script src="~/NgApp/filters.js"></script>
    <script src="~/NgApp/services.js"></script>
</head>
<body>
    <div class="container body-content">
        @RenderBody()
        <hr />
        
    </div>
</body>
</html>